body {
    background: #333; /* Цвет фона */
    color: #45DF1B; /* Цвет текста */
   }
   
A {
    color: #45DF1B; /* Цвет текста */
    padding: 2px; /* Поля вокруг текста */
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }

div1 {
	width: 120px;
	background: black;
	border-top: 3px solid #2196F3;
    border-bottom: 3px solid #2196F3;
    border-radius: 5px;
    display: block;
    position: relative;
    font-family: 'Segoe UI', Helvetica,Arial,sans-serif;
    color: #ffffff;
    font-size: 15x;
    padding: 5px 15px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
	color: white;  
	border-radius: 20px;
}
